<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.codfi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.CAMERA" />-->

    <uses-feature android:name="android.hardware.camera" />

    <permission
        android:name="ru.codfi.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="atlascience.bitmaptest.permission.C2D_MESSAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- FACEBOOK -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- APP ACTIVITIES -->

        <activity android:name=".Authenticator.LoginActivity" />
        <activity android:name=".Authenticator.RegisterActivity" />
        <activity android:name=".Authenticator.ResetPasswordActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="" />
        <activity
            android:name=".Utils.SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Learn.KnowledgeTopicsActivity"
            android:label=""
            android:parentActivityName=".Activities.ProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activities.RatingActivity"
            android:label=""
            android:parentActivityName=".Activities.ProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activities.QueueActivity"
            android:label=""
            android:parentActivityName=".Activities.ProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activities.Learn.KnowledgeContentActivity"
            android:label=""
            android:parentActivityName=".Activities.Learn.KnowledgeTopicsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Learn.KnowledgeTopicsActivity" />
        </activity>
        <activity
            android:name=".Activities.ResultsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.StatisticsActivity"
            android:parentActivityName=".Activities.ProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProfileActivity" />
        </activity>
        <activity android:name=".Activities.ProvideQuestionActivity" />
        <activity
            android:name=".Activities.Settings.SettingsActivity"
            android:label=""
            android:parentActivityName=".Activities.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activities.TrainMode.TrainTopicsActivity"
            android:label="@string/title_activity_train_topics"
            android:parentActivityName=".Activities.ProfileActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.TrainMode.TrainGameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:parentActivityName=".Activities.TrainMode.TrainTopicsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.TrainMode.TrainTopicsActivity" />
        </activity>

        <!-- GOOGLE GCM -->
        <!--<receiver-->
            <!--android:name="com.google.android.gms.gcm.GcmReceiver"-->
            <!--android:exported="true"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->

                <!--<category android:name="com.gnirt69.gcmexample" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <service
            android:name=".Services.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.InstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.TrainMode.TrainResultsActivity"
            android:label="@string/title_activity_train_results"
            android:parentActivityName=".Activities.ProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProfileActivity" />
        </activity>


    </application>

</manifest>